<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/CSS/admin.css">
</head>
<body>
  <div class="left_panel_data">
    <h2><%= ad.First_Name %></h2>
    <h2><%= ad.User_Name %></h2>
    <h3><%= ad.Last_Name %></h3>
    <p><strong><b>User ID:</b></strong> <%= ad.User_ID %> <%= ad.ID %></p>
    <p><strong><b>Email:</b></strong> <%= ad.Email %></p>
  </div>
</body>
</html>
