<!DOCTYPE html>
<html>
<head>
  <link rel="StyleSheet" href="/CSS/admin.css">
</head>
<body style="text-align: center;">

  <h1 class="form_title" id="sec1">History and Cultural Books</h1>
  <table>
    <tr>
      <th>Book ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Book Type</th>
      <th>Upload Date</th>
      <th>Book Image</th>
    </tr>
    <% for (const doc of documents) { %>
      <tr>
        
        <td><%= doc.Book_ID %></td>
        <td><%= doc.Book_Name %></td>
        <td><%= doc.Book_Authors %></td>
        <td><%= doc.Book_Type %></td>
        <td><%= doc.Book_Date %></td>
        <td><%= doc.Book_Cover %></td>
      </tr> 

      <% } %>
  </table>

<br><br>
<!-- ------------------------------------------------------------------------------------------- -->

  <h1 class="form_title" id="sec2">Science and Nature Books</h1>
  <table>
    <tr>
      <th>Book ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Book Type</th>
      <th>Upload Date</th>
      <th>Book Image</th>
    </tr>
    <% for (const doc of documents2) { %>
      <tr>
        
        <td><%= doc.Book_ID %></td>
        <td><%= doc.Book_Name %></td>
        <td><%= doc.Book_Authors %></td>
        <td><%= doc.Book_Type %></td>
        <td><%= doc.Book_Date %></td>
        <td><%= doc.Book_Cover %></td>
      </tr> 

      <% } %>
  </table>

  <br><br>
  <!-- ------------------------------------------------------------------------------------------- -->

  <h1 class="form_title" id="sec3">Art and Photography Books</h1>
  <table>
    <tr>
      <th>Book ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Book Type</th>
      <th>Upload Date</th>
      <th>Book Image</th>
    </tr>
    <% for (const doc of documents3) { %>
      <tr>
        
        <td><%= doc.Book_ID %></td>
        <td><%= doc.Book_Name %></td>
        <td><%= doc.Book_Authors %></td>
        <td><%= doc.Book_Type %></td>
        <td><%= doc.Book_Date %></td>
        <td><%= doc.Book_Cover %></td>
      </tr> 

      <% } %>
  </table>
  <br><br>
  <!-- ------------------------------------------------------------------------------------------- -->

  <h1 class="form_title" id="sec4">Technology books</h1>
  <table>
    <tr>
      <th>Book ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Book Type</th>
      <th>Upload Date</th>
      <th>Book Image</th>
    </tr>
    <% for (const doc of documents4) { %>
      <tr>
        
        <td><%= doc.Book_ID %></td>
        <td><%= doc.Book_Name %></td>
        <td><%= doc.Book_Authors %></td>
        <td><%= doc.Book_Type %></td>
        <td><%= doc.Book_Date %></td>
        <td><%= doc.Book_Cover %></td>
      </tr> 

      <% } %>
  </table>

  <br><br>
  <!-- ------------------------------------------------------------------------------------------- -->

  <h1 class="form_title" id="sec5">Mathematics books</h1>
  <table>
    <tr>
      <th>Book ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Book Type</th>
      <th>Upload Date</th>
      <th>Book Image</th>
    </tr>
    <% for (const doc of documents5) { %>
      <tr>
        
        <td><%= doc.Book_ID %></td>
        <td><%= doc.Book_Name %></td>
        <td><%= doc.Book_Authors %></td>
        <td><%= doc.Book_Type %></td>
        <td><%= doc.Book_Date %></td>
        <td><%= doc.Book_Cover %></td>
      </tr> 

      <% } %>
  </table>


  <br><br>
  <!-- ------------------------------------------------------------------------------------------- -->

  <h1 class="form_title" id="sec6">Commerce books</h1>
  <table>
    <tr>
      <th>Book ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Book Type</th>
      <th>Upload Date</th>
      <th>Book Image</th>
    </tr>
    <% for (const doc of documents6) { %>
      <tr>
        
        <td><%= doc.Book_ID %></td>
        <td><%= doc.Book_Name %></td>
        <td><%= doc.Book_Authors %></td>
        <td><%= doc.Book_Type %></td>
        <td><%= doc.Book_Date %></td>
        <td><%= doc.Book_Cover %></td>
      </tr> 

      <% } %>
  </table>


  <br><br>
  <!-- ------------------------------------------------------------------------------------------- -->

  <h1 class="form_title" id="sec7">Other Books</h1>
  <table>
    <tr>
      <th>Book ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Book Type</th>
      <th>Upload Date</th>
      <th>Book Image</th>
    </tr>
    <% for (const doc of documents7) { %>
      <tr>
        
        <td><%= doc.Book_ID %></td>
        <td><%= doc.Book_Name %></td>
        <td><%= doc.Book_Authors %></td>
        <td><%= doc.Book_Type %></td>
        <td><%= doc.Book_Date %></td>
        <td><%= doc.Book_Cover %></td>
      </tr> 

      <% } %>
  </table>



</body>
</html>
