<!DOCTYPE html>
<html>
<head>
  <link rel="StyleSheet" href="/CSS/admin.css">
</head>
<body style="text-align: center;">
  <h1 class="form_title">Student Account Details</h1>


  <table>
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Password</th>
    </tr>
    <% for (const doc of documents) { %>
      <tr>
        <td><%= doc.User_ID %></td>
        <td><%= doc.User_Name %></td>
        <td><%= doc.Email %></td>
        <td><%= doc.Gender %></td>
        <td><%= doc.Age %></td>
        <td><%= doc.Password %></td>
      </tr>
    <% } %>
  </table>
</body>
</html>
